.joke{
    background-color: antiquewhite;
    border: 1px solid rgb(223, 196, 161);
    color: #282c34;
    font-family: Verdana;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.joke-text{
    float: left;
    width: 93%;
    padding-right: 5px;
}

.joke-btn{
    float: left;
    width: 7%;
}

.clear{
    clear: both;
}